*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
main {
    width:100%;
    margin:100px auto;
    border: 1px solid;
    background-color: darkgray;
    display:grid;
    grid-template-rows: 100px 200px 300px 200px;
    grid-template-columns: repeat(3, 1fr) 150px;
    grid-gap: 20px ;
    font-size: 25px;
}

.header{
    font-size: x-large;
    font-family:Arial, Helvetica, sans-serif;
    color: white;
    text-align: center;
    background-color:rgb(41, 68, 68);
    padding-top:30px;
    grid-column: 1/-1;
}
.div1{
    background-color: rgb(56, 51, 51);
    grid-row:2/5;
    margin-top: 30px;
    margin-left: 70px;
    margin-bottom: 30px;
    border-radius: 30px;
}
.div2{
    background-color: rgb(56, 51, 51);
    grid-column: 2/5;
    color: rgb(134, 132, 132);
    margin-top: 50px;
    margin-left: 50px;
    margin-right: 100px;
    margin-bottom: 100px;
    border-radius: 10px;
}
.div3{
    background-color: rgb(56, 51, 51);
    margin-left: 50px;
    margin-right: 50px;
    margin-bottom: 50px;
    border-radius: 20px;
}
.div4{
    background-color: rgb(56, 51, 51);
    margin-left: 10px;
    margin-right: 100px;
    margin-bottom: 50px;
    border-radius: 20px;
}
.div5{
    background-color: rgb(56, 51, 51);
    border-radius: 20px;
    margin-bottom: 50px;
    margin-right: 20px;
}
.div6{
    background-color: rgb(56, 51, 51);
    grid-column:2/5;
    margin-bottom: 50px;
    margin-right: 20px;
    margin-left: 50px;
    border-radius: 20px;
}
